.ivm{
    position: relative;
    width: 100%;
    margin: 30px 0 20px;
    max-width: 750px;
    overflow: hidden;
    height: auto !important;
    
}
.ivm_zrame{
    width: 30%; 
    height: 28%; 
    display: inline; 
    left: 1.5%;  
    top: 43%; 
    position: absolute;
    overflow: hidden;
}
#ivm_frame{
    width: 100%;
}
#ivm_add{
    cursor: pointer;
    z-index: 5;
    background: #999;
}
#ivm_igar{
    background: #E1E1E1;
    z-index: 5;
    color: black;
    font-size: 3vmin;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    overflow: hidden;
	text-align: center;
}